$peach: rgba(254, 192, 170, 1);
$custom-blue: rgba(168, 192, 255, 1);
$custom-purple: rgba(228, 209, 255, 1);
$cream: rgba(244, 247, 255, 1);
$black: rgba(4, 15, 22, 1);

#app {
  border-color: $custom-blue;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

#app.text {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
}

#app.user-input {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;

}
