$peach: rgba(254, 192, 170, 1);
$custom-blue: rgba(168, 192, 255, 1);
$custom-purple: rgba(228, 209, 255, 1);
$cream: rgba(244, 247, 255, 1);
$black: rgba(4, 15, 22, 1);


.title {
  padding-top: 40px;
  border-width: 10px;
  border-color: $custom-blue;
}

.map {
  border-width: 20px;
  padding-bottom: 20px;
}

.form {
  margin-top: 20px;
}

.form-tile {
  margin-top: 50px;
  padding: 20px;
  border-width: medium;
  border-color: $peach;
  text-decoration-color: $custom-blue;

}
